<mat-card class="example-card">
  <mat-card-header class="p-0">
    <circle-progress [percent]="getPorcentaje(movie.vote_average)" [radius]="20" [outerStrokeWidth]="2"
      [innerStrokeWidth]="0" [outerStrokeColor]="'#7EE819'" [innerStrokeColor]="'#000000'" [animation]="true"
      [animationDuration]="300" [showSubtitle]="false" [backgroundOpacity]="0.5" [unitsColor]="'#FFFFFF'"
      [titleColor]="'#FFFFFF'" [backgroundColor]="'#000000'" [backgroundPadding]="0"></circle-progress>

    <div id="saveList">
      <button mat-icon-button (click)="toggleWatchlist()">
        <mat-icon [class.saveMarcado]="isOnWatchList" [class.save]="!isOnWatchList">bookmark</mat-icon>
      </button>
    </div>

    <div class="w-100">
      <a [routerLink]="['/pelicula', movie.id]" class="w-100">
        <img mat-card-image src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}"
          [alt]="movie.original_title" width="100%" class="rounded-top"
          onerror="this.src='../assets/img/not-found-image.png'">
      </a>
    </div>

  </mat-card-header>
  <mat-card-content class="p-0 rounded-bottom pl-0 d-flex justify-content-center align-items-center">
    <div class="row p-4 pt-0 pb-0 mt-1">
      <div class="col-10 p-0 m-0 align-self-center">
        <a [routerLink]="['/pelicula', movie.id]">
          <h4>{{acortarTitulo(movie.title||movie.name)}}</h4>
        </a>
      </div>

      <ng-template #popContent class="p-0 bg-dark">
        <h1 class="m-0">
          <ngb-rating [max]="5" [(rate)]="rate" (rateChange)="doRate()"></ngb-rating>
        </h1>

      </ng-template>

      <mat-card-actions class="col-2 p-0 align-self-start">
        <div class="example-disabled p-0">
          <button mat-icon-button [animation]="true" [ngbPopover]="popContent" placement="bottom">
            <mat-icon [class.rated]="rate>0">star</mat-icon>
          </button>
          <button (click)="toggleFavourite()" mat-icon-button>
            <mat-icon [class.favorite]="isFav" [class.notFavorite]="!isFav">favorite</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </div>

  </mat-card-content>

</mat-card>