.example-card {
    width: 15rem;
}

mat-card-content {
    background-color: #1F1F1F;
    color: #FFFFFF;
    height: 8.5rem;
}

h1 {
    margin-top: 80px;
    color: #E1E1E1;
}

mat-icon {
    color: #ffffff15;
}

mat-card-header {
    position: relative;
}

img {
    position: relative;
    z-index: 1;
}

circle-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}