/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1f1f1f;
    ;
}

* {
    --bs-body-bg: #1f1f1f;
    --bs-primary-bg-subtle: dark;
}