<div class="container bg-dark p-0 rounded text-white mb-5">
    <div class="bg-image banner p-5 shadow-1-strong rounded mb-5 text-white border-1">
        <!--<div class="banner-overlay"></div>-->
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-md-0">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                    alt="Foto de perfil">
            </div>

            <div class="col-md-6 col-xl-7 col-lg-7 py-2 rounded descripcion">
                <h1>Pepe</h1>
            </div>

            <!-- Nueva columna a la derecha -->
            <div class="col-xl-2 col-lg-2 d-none d-md-block">
                <!-- Guardar, favoritos y rating -->
            </div>


        </div>
    </div>